

.icon{display: inline-block;background-image: url(../image/icon-1.png);}
.icon-2{display: inline-block;background-image: url(../image/icon-2.png);}
.indexBody{background:#2BA9B3;}
/** index top **/
.top{position:fixed;width:100%;background:#000;min-width:1340px;z-index:99;}
.topNotice{padding:20px 30px;width:100%;position:relative;}
.topNotice-con{width:100%;margin:0 auto;position:relative;max-width:1220px;border:1px solid #fff;padding:0px 42px 0px 10px;line-height:32px;}
.topNotice-con p{text-align:center;line-height:32px;}
.topNotice-con p a{color:#fff;display:block;}
.topNotice-con span{position:absolute;right:0;top:0;width:32px;height:32px;line-height:32px;color:#fff;cursor:pointer;text-align:center;}

.topCenter{width:100%;margin-left:auto;margin-right:auto;min-width:320px;max-width:1280px;background-color:#000;padding:0 30px;}
.topCenter-box{height:80px;text-align:center;position:relative;}
.topCenter-box .logo{width:250px;height:50px;margin-top:30px;background-position:0 0;display:inline-block;background-image: url(../image/logo.png);
	background-size:100%100%;}

	.topCenter-box .large{position:absolute;top:0;left:0;width:50%;height:30px;font-size:14px;letter-spacing:.17em;}
	.topCenter-box .large .search-trigger{float:left;height:30px;padding-top:15px;cursor:pointer;color:#fff;font-size:12px;}
	.large .search-trigger span{position:relative;top:-2px;width:16px;height:16px;vertical-align:middle;margin-right:10px;background-position:-120px -10px;}
	.large .search-trigger span:hover{background-position:-120px -50px;}
	.topCenter-box .large .account{padding-left:15px;margin-left:15px;border-left:1px solid #333;float:left;height:30px;padding-top:15px;font-size:12px;}
	.large .account a{color:#999;}
	.large .account a:hover{color:#fff;}
	.large .account span{position: relative;top:-2px;width:16px;height:16px;vertical-align:middle;background-position:0 -9px;margin-right:10px;}
	.search-container{position:absolute;top:40px;}
	.search-container .simple-search-input .widget input[type=text]{margin:0;padding-left:15px;border:none;outline:0;width:275px;height:34px;
    	font-size:.6875rem;color:#fff;background-color:#242424}
    .search-container .suggestions{position:absolute;z-index:1;top:39px;width:290px;font-size:.6875rem;letter-spacing:.13em;color:#fff;background-color:#242424;
    	display:none;}
    .search-container .suggestions li{padding:15px;text-align:left;cursor:pointer;}
    .search-container .suggestions .selLi_hover{background:#333;}
    
	.topCenter-box .wishlist-minicart{position:absolute;top:0;width:50%;height:30px;font-size:12px;letter-spacing:.17em;right:0;overflow:hidden;}
	.wishlist-minicart .minicart{padding-left:15px;border-left:1px solid #333;float:right;padding-top:15px;position: relative;z-index:2;height:35px;}
	.mini-cart-total{-webkit-transition:margin 250ms ease-out 0s;transition:margin 250ms ease-out 0s;line-height: 15px;text-transform:uppercase;}
	.mini-cart-total a{color:#666;text-decoration: none;}
	.mini-cart-total a:hover{color:#fff;}
	.mini-cart-total a .sprite{position:relative;top:-2px;width:12px;height:18px;vertical-align:middle;margin-right:10px;background-position:-80px -9px;}
	.wishlist-minicart .wishlist{margin-right:15px;float:right;padding-top:13px;}
	.wishlist-minicart .wishlist a{color:#999;}
	.wishlist-minicart .wishlist a:hover{color:#fff;}
	.wishlist .sprite{position:relative;top:-2px;width:16px;height:16px;vertical-align:middle;margin-right:10px;background-position:-40px -9px;}

.top .navigation{height:60px;}
	.navigation ul.level-1{position: relative;height: 60px;font-size: .1px;text-align: center}	
	.navigation ul.level-1:after{content: '';display:inline-block;width:100%}
	.navigation ul.level-1 li.level-1{display:inline-block;height:50px;padding:0 1.40625%;line-height:50px;text-align:left;margin-top:10px;
		background-color:transparent;}
	.navigation ul.level-1 li.level-1,.navigation ul.level-1 li.level-1.open{-webkit-transition: all 125ms ease-in 25ms;
		transition: all 125ms ease-in 25ms}
	.navigation ul.level-1 li.level-1:hover{background:#fff;}
	.navigation ul.level-1 li.level-1 a{color:#fff;font-size:.75rem;letter-spacing:.1em;text-transform: uppercase}
	.navigation ul.level-1 li.level-1.open a{color:#000;}
	.navigation ul.level-1 li.level-1 .flyout{opacity:0;visibility:hidden;display:none;-webkit-transition: all 125ms ease-out 25ms;
		transition: all 125ms ease-out 25ms;box-shadow: 1px 4px 3px 1px rgba(0, 0, 0, .25);display:block;position:absolute;
		z-index:10;top:60px;left:0;right:0;height:450px;overflow:hidden;background-color:#fff}
	.navigation ul.level-1 li.level-1.open>.flyout{opacity:1;visibility:visible;-webkit-transition: all 125ms ease-in 25ms;
		transition:all 125ms ease-in 25ms;display:block;}
	.navigation ul.level-1 .horizontal-centered{height:390px;margin:30px 20px;padding:0;overflow:hidden;background-color:transparent;}
	.navigation ul.level-1 .horizontal-centered:after{display: table;content:"";clear:both;}
	.navigation .horizontal-centered .col-layout{position:relative;float:left;height:390px;min-width:0; max-width:700px;}
	.navigation .horizontal-centered .col-layout .col{width:233.33px;float:left;}
	.navigation .horizontal-centered .separators{position:absolute;z-index:0;top:0;left:0;right:0;bottom:0;}
	.navigation .horizontal-centered .separator{float: left;width:233.33px;height:100%;border-right:1px solid #e5e5e5;}
	.horizontal-centered .col-layout .col ul.level-2{min-width:0;width:100%;max-width:100%;position: relative;float:left;height:450px;}
	.horizontal-centered .col-layout .col ul.level-2:after{display:table;content:"";clear:both;}
	.horizontal-centered .col-layout .col ul.level-2 li.level-2{position:relative;z-index:1;float:left;width:233.33px;line-height:0;
    		padding-left:35px;margin-bottom:30px;}
    .horizontal-centered .col-layout .col ul.level-2 li.level-2 .category-group{display:inline-block;font-size:.75rem;
    		line-height:.9375rem;letter-spacing:.1em;margin-bottom:25px;color:#000;font-weight:700;text-transform:uppercase;}
    .navigation ul.level-1 ul.level-3 li.level-3{height:25px;line-height: 25px;}
    .navigation ul.level-1 ul.level-3 li.level-3 a{color:#333;font-size:.8125rem;font-weight:400;letter-spacing:.01em;text-transform:none;}
    .navigation ul.level-1 ul.level-3 li.level-3 a:hover{text-decoration:underline;}
    	.navigation .flyout .horizontal-centered .slots.col-portrait{margin-left:700px;float:none;}
    	.navigation ul.level-1 .flyout .horizontal-centered .slots{min-width:250px;max-width:950px;height:100%;}
    .navigation ul.level-1 .flyout .horizontal-centered .slots:after{content:"";display:table;clear:both;}
	.navigation ul.level-1 .flyout .horizontal-centered .slots .et-portrait{padding: 0 2%;position:relative;max-height:390px;min-width:none;}
	.navigation ul.level-1 .flyout .horizontal-centered .slots.col-portrait.col-landscape-md ul{width:240px;margin:0 auto;}
	.navigation ul.level-1 .flyout .horizontal-centered .slots .et-portrait ul li{display: inline-block;box-sizing:border-box;
    		-webkit-box-sizing:border-box;-moz-box-sizing:border-box;position:relative;height:390px;vertical-align:top;}
    	.navigation ul.level-1 .flyout .horizontal-centered .slots .et-portrait img{min-height:390px;}
	.navigation ul.level-1 .flyout .horizontal-centered .slots.col-landscape{margin-left:466.67px;float:none;}
	.navigation ul.level-1 .flyout .horizontal-centered .slots.col-landscape.col-landscape-md ul{width:487px;margin:0 auto;}
	.navigation ul.level-1 .flyout .horizontal-centered .slots .et-landscape ul.col-one-img li{width:100%;}
	.navigation ul.level-1 .flyout .horizontal-centered .slots .et-landscape ul li{display:inline-block;
    		box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;position: relative;height: 390px;vertical-align: top;}

/** index content **/
.content{width:1280px;margin:0 auto;background:#fff;padding:0 30px;}
.content.pt30{padding-top:30px;}
.content-ad{width:100%;float:left;margin-top:10px;overflow:hidden;}
.content-ad a{width:100%;height:395px;display:block;}
.content-ad img{width:1220px;height:395px;float:left;}

.content-goodsList{width:100%;float:left;margin-top:20px;}
.content-goodsList a{width:32%;margin:0 2% 0 0;display:block;height:409px;float:left;position:relative;}
.content-goodsList a img{width:100%;height:409px;}
.content-goodsList a div,ul.goodsList li a div{position:absolute;bottom:15px;left:0;padding:0 20px;margin:0 auto;height:auto;width:100%;}
.content-goodsList a div p,ul.goodsList li a div p{line-height:24px;text-transform:uppercase;max-height:3rem;margin-bottom:0;font-family: "Book";
    letter-spacing: 0;font-weight:inherit;text-align:center;color:#000;display:block;}
.content-goodsList a div p.tit,ul.goodsList li a div p.tit{font-size:26px;}
.content-goodsList a div p.ms,ul.goodsList li a div p.ms{overflow: hidden;font-family:inherit;letter-spacing: 0;font-weight: inherit;font-size:15px;}

.content-goodsGif{width:100%;height:396px;float:left;margin-top:20px;}

.content-goodsList2{width:100%;float:left;margin-top:20px;}
.content-goodsList2-fl{width:50%;padding-right:8px;float:left;}
.content-goodsList2 .content-goodsList2-fr{padding:0 0 0 8px;}
.content-goodsList2-fl ul.goodsList{float:left;width:100%;}
.content-goodsList2-fl ul.goodsList li{float:left;width:100%;margin:8px 0;overflow:hidden;text-align:center;}
.content-goodsList2-fl ul.goodsList li a{position:relative;display:block;float:left;}
.content-goodsList2-fl ul.goodsList li a img{max-height:100%;max-width:100%;}

.content-title{float:left;width:100%;padding:20px 0;position:relative;}
.content-title .bumper{margin:0;border: none;border-bottom: 1px solid #000;padding-top: 20px;}
.content-title .text{display:inline-block;margin-top:-20px;margin-bottom:0;position:relative;left:50%;
	-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);padding:0 5%;color:#000;vertical-align:middle;
	height:20px;line-height:20px;font-family:"book antiqua";background:#fff;font-size:24px;}

.content-special{width:100%;float:left;margin-top:20px;overflow:hidden;}
.content-special a{width:32%;margin: 0 2% 0 0;display:block;height:390px;float:left;position:relative;}
.content-special a img{width:390px;height:390px;position:absolute;left:0;top:0;}
.content-special a img.tsImg-hov{opacity:0;}

.content-bottom{float:left;width:100%;margin-top:20px;}
.content-bottomCon{width:70%;margin: 0 auto;min-height: 100px;}
.content-bottomCon .info{padding:1%;font-size:20px;line-height:24px;text-align:center;}
.content-bottomCon .info p{color:#000;font-size:15px;font-family:inherit;}
.content-bottomCon .line{width:100%;text-align:center;}
.content-bottomCon .line input.email{font-size:14px;width:100%;display:inline-block;height:32px;border: 1px solid #333;
    letter-spacing: .17em;text-align: center;font-family: inherit;margin-top:4px;}
.content-bottomCon .line input[type=button]{margin:1%;border:none;outline:0;width:300px;height:34px;color:#fff;
	font-size:18px;letter-spacing:.01em;font-family:"Calibri W02 Light";background-color:#333;text-transform:uppercase;
	box-sizing:border-box;line-height: normal!important;-webkit-appearance: none;overflow:visible;
    vertical-align: middle;font-family: inherit;font-weight:inherit;resize:none;cursor:pointer;}
.content-bottomCon .line span.gender{float:left;display:inline-block;width:32%;}
.line .form-row{line-height: 40px;}
.line .form-row dl.mcDropdown{letter-spacing:.17em;width:100%;margin:0;font-family:"Calibri W02 Light";
	border: 1px solid #333;height:34px;background:#fff;vertical-align:middle;color:#fff;display:inline-block;line-height:15px;outline:0;
	font-size:.625rem;position: relative;}
.form-row dl.mcDropdown dt{margin:0!important;padding:0!important;list-style-type:none!important;}
.form-row dl.mcDropdown dt span{padding:0;width:100%;height:34px;line-height:34px;font-size:14px;text-transform:uppercase;
	color:#999;display:block;cursor:pointer;text-overflow:ellipsis;float:none!important;overflow:hidden;white-space:nowrap;}
.form-row dl.mcDropdown.bottomseldt dt span{color:#666;}
.form-row dl.mcDropdown.yxz dt span{color:#000;}
.bottomsel .form-row dl.mcDropdown.yxz span{color:#fff;}
.bottomsel .form-row dl.mcDropdown{background:#242424;border:none;}
.form-row dl.mcDropdown dt span.val{display:none;}
.mcDropdown dd{position:relative;}
.mcDropdown dd ul{position:absolute;top:2px;left:0; width:100%;z-index:10;background:#242424;list-style:none;max-height:185px;overflow-y:auto;}
.mcDropdown.none dd ul{display:none;}
.mcDropdown.open dd ul{display:block;}
.mcDropdown dd ul li{background:#eee;}
.bottomsel .mcDropdown dd ul li{background:#242424;}
.bottomsel .form-row dl.mcDropdown.yxz span.labe-2{text-indent:10px;}
.bottomsel .form-row dl.mcDropdown dt span{text-indent:10px;}
.mcDropdown dd ul span.labe{line-height:34px;font-size:14px;text-transform:uppercase;display:block;color:#666;padding:0 10px;float:none;width:100%;
	overflow:hidden;white-space:nowrap;cursor:pointer;}
.content-bottomCon .line span.firstname{display:inline-block;width:32%;}
.content-bottomCon .line span.lastname{float:right;width:32%;}
.content-bottomCon .line .desc-mandatory{padding:1%;font-family:"Calibri W02 Light";font-size:.575rem;line-height:12px;}
.content-bottomCon .line .desc-mandatory a{color:#666;}
.content-bottomCon .line .desc-mandatory a:hover{color:#999;}
.content-bottomCon .line.inputText{display:none;}

.html-slot-container{float:left;width:100%;color:#666;font-weight:bold;}
.html-slot-container h1{text-align:center;font-family: eurostile;margin:.8125rem 0;font-size:16px;letter-spacing:.24em;}
.html-slot-container p{padding:0 5% 10px 0;font-size:.875rem;line-height:20px;color:inherit;}
.html-slot-container p a{color:#666;}
.html-slot-container p a:hover{color:#999;}

/** bottom **/
.bottom{width:auto;color:#999;font-size:.6875rem;font-weight:700;line-height:2.3em;letter-spacing:.07em;background-color:#000;padding:0 30px;float:left;width:100%;font-weight:normal;}
.bottom .back-to-top{margin-bottom:32px;margin-top:32px;text-align:right;cursor:pointer;}
.bottom .back-to-top a{color:#333;font-weight:700;font-family:EuroStile;margin-right:10px;font-size:14px;}
.bottom .back-to-top a:hover{color:#999;}
.bottom .back-to-top .sprite{float:right;position:relative;top:8px;width:17px;height:10px;background-position:-200px -329px;}
.bottom .grid{text-align:justify;}
.bottom .grid .column{width:15.57377049%;position:relative;display:inline-block;min-height:220px;margin-bottom:35px;vertical-align:top;font-size:.6875rem;
    text-align:left;border-left:1px solid #333;padding-left: 1.31147541%;}
.bottom .grid .column:nth-child(6n-5){border:none;padding-left:0;}
.bottom .grid .column .tit{margin-bottom:24px;font-size:.14px;letter-spacing:.1em;text-transform:uppercase;}
.icon-xia{position:absolute;top:7px;right:0;width:30px;height:20px;cursor:pointer;background-position:-231px -243px;}
.bottom .grid .column .con li>img{margin-right:10px;vertical-align:middle;}
.bottom .grid .column .con a{color:#999;}
.bottom .grid .column .con a:hover{color:#fff;}


/** secondLevel **/
.ejBody{background:#E4D2C4;}
.top-navigation{width:100%;float:left;}
.breadcrumbs{float:left;padding: 20px 0 20px 20px;text-transform: uppercase;font-size:12px;color:#999;letter-spacing:.17em;}
.breadcrumbs a{color:#999;font-family:inherit;font-weight:bold;}
.breadcrumbs a:hover{color:#666;}
.breadcrumbs span{width: 20px;display: inline-block;text-align: center;color:#999;font-size:80%;}
.mainContent{min-height:inherit;width:100%;position:relative;float:left;}
.mainContent .navigation{margin-top:5px;float:left;width:293px;letter-spacing:.1em;font-size:12px;margin-right:16px;}
.mainContent .navigation .refinement{width:293px;margin:28px 0 0;padding-right:44px;}
.mainContent .navigation .refinement .category-level-1{letter-spacing: .1em;font-weight:700;}
.mainContent .category-level-1 .refinementSection{margin-left:16px;}
.mainContent .category-level-1 .refinementSection .link{position:relative;cursor:pointer;}
